@import url("https://fonts.googleapis.com/css?family=Lato:300,400,400i,700&display=swap");
@import url("https://use.typekit.net/geb3blc.css");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
/*               
font-family: 'Lato', sans-serif;
font-family: myriad-pro, sans-serif;
              */
html, body {
  width: 100%;
  height: 100%;
}

body {
  color: #848789;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}
.wrapper__flexbox {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  position: relative;
  height: 100vh;
  width: 100%;
}
.header__top {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
}
.header__menu {
  margin: 35px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
}
.header__list li {
  display: inline-block;
}
.header__logo {
  width: 85px;
  height: 94px;
  margin: 0 62px;
}
.header__logo img {
  width: auto;
  height: 100%;
}
.header__full {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}
.header__image {
  width: 100%;
  height: 100%;
  background: url(../img/01.jpg) center no-repeat;
  background-size: cover;
}
.header__image img {
  width: 100%;
  height: 100%;
}

.list__item {
  color: #4d4959;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2.6px;
  font-weight: 700;
}
.list__item_point {
  padding: 0 35px;
}

@media (max-width: 767px) {
  .header__button {
    display: block;
    z-index: 9;
    width: 30px;
    height: 20px;
    position: fixed;
    top: 20px;
    left: 20px;
  }
  .header__button :after, .header__button :before {
    transition: 0.2s;
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    background-color: #9b4756;
  }
  .header__button :before {
    bottom: 0;
  }
  .header__button :after {
    top: 0;
  }
  .header__button span {
    display: block;
    margin: 9px 0 0 0;
    width: 100%;
    height: 2px;
    background-color: #9b4756;
  }

  .header__button.active span {
    height: 0;
  }
  .header__button.active :before {
    bottom: 9px;
    transform: rotate(45deg);
  }
  .header__button.active :after {
    top: 9px;
    transform: rotate(-45deg);
  }

  .header__logo {
    height: 50px;
    margin: 0 0 10px 20px;
    order: 1;
  }

  .header__top {
    position: fixed;
    display: block;
    height: 100%;
    width: 150px;
    background-color: rgba(119, 39, 59, 0.6);
    left: -100%;
    transition: 0.4s;
  }

  .header__top.active {
    left: 0;
  }

  .header__menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 70px 0 0 20px;
  }

  .header__list {
    order: 2;
  }

  .header__list li {
    display: block;
  }

  li.list__item_point {
    display: none;
  }
}
.content {
  flex: 1 1 auto;
}

.about-us {
  text-align: center;
  padding: 115px 0 140px 0;
  background-color: #f7f7f7;
}
.about-us__title {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  color: #353738;
  margin: 34px 0;
}
.about-us__text {
  font-size: 18px;
  line-height: 34px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.work__row {
  display: flex;
  overflow: hidden;
  height: 600px;
}
.work__image {
  flex: 1 1 66.67%;
  background: url(../img/work/01.jpg) no-repeat;
  background-size: cover;
}
.work__content {
  flex: 1 1 33.33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.work__icon {
  margin: 70px 0 0 0;
}
.work__title {
  text-transform: uppercase;
  color: #353738;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 3.6px;
  margin: 30px 0 26px;
}
.work__text {
  flex: 1 1 auto;
  margin: 0 65px;
}
.work__image-2 {
  height: 100%;
  background: url(../img/work/02.jpg) no-repeat;
  background-size: cover;
}